<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@300;400;500;600&family=Cormorant+Garamond:wght@500;600&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <nav class="navbar">
    <div class="logo">
        <h2>EverAfter</h2>
    </div>
    <div class="nav-links">
        <a href="/logout">Logout</a>
    </div>
    </nav>
    <div class="dashboard-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash {{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h1>Welcome Admin...</h1>
        <div class="dashboard-cards">
        <a href="/create-wedding" class="dashboard-card">
            <h2>Create</h2>
            <p>Add a new wedding event</p>
        </a>
        <a href="/view-weddings" class="dashboard-card">
            <h2>View</h2>
            <p>See all created wedding events</p>
        </a>
        <a href="/rsvp-list" class="dashboard-card">
            <h2>RSVP List</h2>
            <p>View Guest Registrations</p>
        </a>
        <a href="/summary" class="dashboard-card">
            <h2>Summary</h2>
            <p>To check statistics</p>
        </a>
        </div>
    </div>
</body>
</html>