<!DOCTYPE html>
<html>

<head>

    <title>RSVP List</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <nav class="navbar">
    <div class="logo">
        <h2>EverAfter</h2>
    </div>
    <div class="nav-links">
        <a href="/dashboard">Dashboard</a>
    </div>
    </nav>
<div class="table-container">

<h2>RSVP List</h2>

<table>

<tr>

<th>Couple</th>

<th>Name</th>

<th>Email</th>

<th>Phone</th>

<th>Status</th>

<th>Guests</th>

</tr>

{% for rsvp in rsvps %}

<tr>

<td>{{ rsvp.couple }}</td>

<td>{{ rsvp.name }}</td>

<td>{{ rsvp.email }}</td>

<td>{{ rsvp.phone }}</td>

<td>{{ rsvp.status }}</td>

<td>{{ rsvp.guests }}</td>

</tr>

{% endfor %}

</table>

</div>

</body>

</html>